.CartProduct{
    background: #1b1927;
}

.CartProduct td{
    margin: 0px;
}

.img {
    height: 70px;
    width: 50px;
}

.Style {
    font-size: 12px;
}

.Summa {
    font-size: 11px;
    color: #ffffff;
}

.Cart:hover {
 background: #fff solid 2px;
}

.st {
    text-decoration: line-through;
}

.borderStyle {
    background: #0c0b16;
    border: 1px solid #fff;
}