.CartProduct{
    background: #141d31;
}

.CartProduct td{
    margin: 0px;
}

.img {
    height: 70px;
    width: 50px;
}

.Style {
    font-size: 12px;
}

.Summa {
    font-size: 12px;
    color: #ffffff;
}

.Cart:hover {
 background: #fff solid 2px;
}

.st {
    background: rgb(82, 29, 29);
    font-size: 20px;
    color: rgb(148, 20, 20);
}